{% extends "::layout.html.twig" %}

{% block body %}
	<section class="view error">
		<h1>Erreur</h1>
		<div class="row">
			<div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end"><div id="error" class="col-10"></div></div>
			<div class="col-12 col-md-6" >
				<p>Voici Mango, <br> le "propriétaire" de Mango ann-immo.</p>
				<p>Il est désolé de vous annoncer qu'<span>un soucis est apparu sur son site.</span></p>
				<p>Pour se faire pardonner, il partage, avec vous, cette photo de lui et vous invite à signaler cette erreur à cette adresse <a href="{{ path('mango_platform_contact') }}">Contact</a> </p>
			</div>
		</div>
	</section>
{% endblock %}