{% extends "::layout.html.twig" %}

{% block body %}
	<section class="view error">
		<h1>Erreur 404</h1>
		<div class="row">
			<div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end"><div id="error-mango" class="col-10"></div></div>
			<div class="col-12 col-md-6" >
				<p>Voici Mango, <br> le "propriétaire" de Mango ann-immo.</p>
				<p>Il est désolé de vous annoncer que <span>cette page n'existe pas ou n'est plus disponible.</span></p>
				<p>Pour se faire pardonner, il partage, avec vous, cette photo de lui.</p>
			</div>
		</div>
	</section>
{% endblock %}