@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

body{
	font-family: 'Yantramanav', sans-serif;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

section{
	margin-bottom: 1%;
}

///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// HEADER ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

header{
	margin-bottom: 5%;
}

.navbar-light{
	background-color: white;
}
.nav-link{
	color: black;
}

#header .nav-link:hover{
	color: #EF8A1B;
}

///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// FOOTER ////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

footer .nav{
	padding-left: 20px;
	background-color: #EF8A1B;
}

footer .nav-link:hover{
	color: white;
}

///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// INDEX /////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

#key{
	background-color: blue;
	height: 600px;
	padding: 50px;
}

#contenu-index .row{
	height: 600px;
	padding-left: 50px;
	padding-right: 100px;
}

#text-index{
	padding: 5% 5% 0 5%;
	color: white;
	background-color: #EF8A1B;
	height: 400px;
}

.actions-index{
	line-height: 1em;
	font-size: 4em;
	font-weight: 900;
}

.blockquote{
	font-size: 1.6em;
	line-height: 1em;
}

.blockquote-footer{
	color: white;
}
