@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

body{
	font-family: 'Yantramanav', sans-serif;
	overflow: hidden;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

section{
	margin-bottom: 2%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// HEADER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

header{
	margin-bottom: 5%;
	font-size: 1.1em;
}

#navbarNav{
	justify-content: space-between;
}

.navbar-light{
	background-color: white;
}

.nav-link{
	color: black;
}
#header .active a{
	color: #EF8A1B;
}
#header .nav-link:hover{
	color: #EF8A1B;
}
#nav-right{
	margin-right: 2%;
}

#der{
	border-left: 2px solid #EF8A1B;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// FOOTER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

#footer .nav{
	padding-left: 20px;
	background-color: #EF8A1B;
}

#footer .nav-link{
	padding-top: 20px;
	padding-bottom: 0;
}

#footer .nav-link:hover{
	color: white;
}

#footer .navbar-text{
	padding: 20px 0 0 20px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// INDEX /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#key{
	background-image: url('../img/key.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	height: 600px;
	padding: 50px;
}

#contenu-index .row{
	height: 600px;
	padding-left: 50px;
	padding-right: 100px;
}

#text-index{
	padding: 4% 5% 0 5%;
	background-color: #EF8A1B;
	height: 400px;
}

#text-index .nav a{
	color: white;
	line-height: 1.2em;
	font-size: 4em;
	font-weight: 900;
	position: relative;
	display: inline-block;
}

#text-index .nav a:hover{
	text-decoration: none;
}

.hover-effect a::before{
	position: absolute;
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	color: #ea4b02;
	text-shadow: 0px 0px 1px  #ea4b02;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.hover-effect a:hover::before{
	max-width: 100%;
}

.blockquote{
	color: #ea4b02;
	font-size: 1.6em;
	line-height: 0.8em;
}

.blockquote-footer{
	color: #ea4b02;
}
