{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<section id="confirmed-register" class="view">
		<h1>Inscription</h1>
		<p>Votre inscription a bien été effectuée, vous pouvez désormais déposer une annonce.</p>
		<a class="btn btn-primary col-12 col-lg-4" href="{{ path('mango_platform_user') }}" role="button">Accéder à mon compte</a>
	</section>
{% endblock %}
