@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html{
	height: 100%;
}

body{
	max-width: 100%;
	font-family: 'Yantramanav', sans-serif;
	overflow-x: hidden;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

section{
	margin-bottom: 2%;
}

.contenu{
	padding: 2% 2% 0 2%;
}

h1{
	color: #ea4b02;
	font-weight: 900;
	font-size: 4em;
}

.btn{
	background-color: #ea4b02;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
}

.btn:hover{
	background-color: unset;
	color: #ea4b02;
}

.retour{
	background-color: #EF8A1B;
}

.retour:hover{
	color: #EF8A1B;
}

label{
	font-weight: 700;
}

.custom-control-label{
	margin-bottom: 4%;
}

form .form-row{
	margin-right: 0;
	margin-left: 0;
}

.form-control:focus {
	border-color: #EF8A1B;
  	box-shadow: 0 0 0 0.2rem rgba(239, 138, 27, 0.25);
}

.custom-control-input:focus ~ .custom-control-label::before{
	box-shadow: 0 0 0 0.2rem rgba(239, 138, 27, 0.25);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
	background-color: #EF8A1B; 
}

.custom-control-input:checked~.custom-control-label::before{
	background-color: #EF8A1B;
}

.input-group input{
	border-right:none;
}
.input-group-text{
	font-weight: 400 !important;
	color: #484f56 !important;
	background-color: unset;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	.contenu{
		padding-left: 4%;
		padding-top: 20%;
		margin-bottom: 5%;
	}

	h1{
		font-size: 2em;
	}
}

@media (max-width: 767.98px) and (orientation: landscape){
	.contenu{
		padding-top: 10%;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	.contenu{
		padding-top: 10%;
		margin-bottom: 10%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.contenu{
		padding-top: 5%;
	}
}

@media (min-width: 1200px) and (max-width: 1299px) {
	section{
		margin-bottom: 5%;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// HEADER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

header{
	max-width: 100%;
	margin-bottom: 5%;
	font-size: 1.1em;
}

.navbarNav{
	justify-content: space-between;
}

.navbar-light{
	background-color: white;
}

.navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0,0.7);
}

.navbar-light .navbar-toggler{
	color: #ea4b02;
	border-color: #EF8A1B;
}

.navbar-brand img {
	width: 80px;
}

.nav-link{
	color: black;
}
#header .active{
	color: #EF8A1B;
	font-weight: 700;
}
#header .nav-link:hover{
	color: #EF8A1B;
}
#nav-right{
	margin-right: 2%;
}

.navbar-text{
	margin-right: 10px;
}

.dropdown-toggle{
	color: #EF8A1B !important;
}

.der{
	border-left: 2px solid #EF8A1B;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	.der{
		border:none;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	#nav-right .navbar-text{
		font-size: 0.8em;
		line-height: 1.9em;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// FOOTER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

#footer .nav{
	height: 60px;
	position: absolute;
	bottom: 0px;
	min-width: 100%;
	margin-top: 4%;
	padding-left: 20px;
	background-color: #EF8A1B;
}

#footer .nav-link{
	padding-top: 20px;
	padding-bottom: 0;
}

#footer .nav-link:hover{
	color: white;
}

#footer .navbar-text{
	padding: 20px 0 0 20px;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	#footer .nav{
		font-size: 0.7em;
	}

	.no-mobile{
		display: none;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	#footer .nav{
		height: 110px;
	}
}

/*/////////////////////////////// Grande Tablette //////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	#footer .nav{
		height: 70px;
	}
	#footer .nav{
		font-size: 0.8em;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// INDEX /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#index .row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#key{
	background-image: url('../img/key.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	height: 600px;
	padding: 50px;
}

#contenu-index .row{
	height: 100%;
	padding-left: 50px;
	padding-right: 100px;
}

#text-index{
	padding: 4% 5% 0 5%;
	background-color: #EF8A1B;
	height: 400px;
}

#text-index .nav a{
	color: white;
	line-height: 1.2em;
	font-size: 4em;
	font-weight: 900;
	position: relative;
	display: inline-block;
}

#text-index .nav a:hover{
	text-decoration: none;
}

.hover-effect a::before{
	position: absolute;
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	color: #ea4b02;
	text-shadow: 0px 0px 1px  #ea4b02;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.hover-effect a:hover::before{
	max-width: 100%;
}

.blockquote{
	color: #ea4b02;
	font-size: 1.6em;
	line-height: 0.8em;
}

.blockquote-footer{
	color: #ea4b02;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	#key{
		height: 260px;
		padding: 20px;
	}

	#contenu-index .row{
		margin-top: -5%;
		height: 400px;
		padding-left: 0;
		padding-right: 0;
	}

	.blockquote{
		font-size: 1.2em;
		line-height: 0.6em;
	}

	#text-index{
		height: 350px;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	#key{
		height: 350px;
		background-position: unset;
	}

	#contenu-index .row{
		margin-top: -5%;
		padding-right: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#contenu-index .row{
		padding-right: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) and (orientation:landscape){
	#contenu-index .row{
		color:red;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// RENT/BUY //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/
.index-advert{
	padding: 30px 30px 0px 30px;
}

.index-advert h1{
	margin-bottom: 2%;
}

.index-advert ul{
	padding-left: 0;
}

.index-advert .col-lg-3{
	flex: 0 0 24% !important;
	margin-bottom: 1%;
}

.advert{
	padding: 1% 1% 0 1%;
	margin-right: 1%;
	list-style: none;
	border: 1px solid #EF8A1B;
}

.advert a{
	color: black;
	text-decoration: none;
}

.cover{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.city{
	color: #ea4b02;
	font-weight: 700;
}

.date{
	font-size: 0.9em;
}

.title{
	margin-bottom: 0;
}

.type{
	margin-bottom: 15%;
}

.price{
	position: absolute;
	bottom: 0px;
	right: 1%;
	margin-bottom: 0;
	color: #ea4b02;
	font-size: 2em;
	font-weight: 700;
}

/*///////////////////////Pagination//////////////////////////////*/

.page-link{
	border-color: #EF8A1B;
	color: black;
}

.page-link:hover{
	color: #FFF;
	background-color: #EF8A1B;
	border-color: #FFF;
}

.page-item:focus{
	border-color: none !important;
}

.active .page-link{
	color: #FFF;
	background-color: #EF8A1B !important;
	border-color: #EF8A1B !important;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	.index-advert{
		padding-top: 20%;
	}

	.index-advert .col-12{
		flex: unset !important;
		margin-bottom: 4%;
	}

	.price{
		position: unset;
		padding-right: 5%;
	}
}

@media (max-width: 767.98px) and (orientation:landscape){
	.index-advert{
		padding-top: 10%;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {

	.index-advert{
		padding-top: 10%;
		margin-bottom: 10%;
	}

 	.advert{
 		margin-right: 4%;
 	}

	.index-advert .col-md-6{
		flex: 0 0 35% !important;
	}

	.cover{
		height: 150px;
	}

	.city{
		font-size: 0.8em;
	}

	.pagination{
		margin-bottom: 10%;
	}
}

/*/////////////////////////////// Grande Tablette //////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	.cover{
		height: 150px;
	}
	.city{
		font-size: 0.7em;
	}
	.type{
		margin-bottom: 25%;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// VIEW //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.view{
 	padding: 2% 2% 0 2%;
}

.view span{
	font-size: 1.1em;
	font-weight: 700;
	color: #EF8A1B;
}

.description{
	margin-left: 0;
}

.contact{
	margin-bottom: 1%;
}

#show-message{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 9999; 
}

#show-message div:first-child{
	padding: 2%;
	background-color: white;
}

#close-message{
	margin-bottom: 2%;
    padding: 2% 2% 1% 2% !important;
    border: 1px solid #EF8A1B;
    border-radius: 0.25rem;
	background-color: #EF8A1B !important;
	color: #FFFFFF;
	font-size: 1.5em;
}

#show-message a{
	margin-bottom: 4%;
}


/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	.view{
		padding-top: 20%;
	}

	.view .row{
		margin-right: 0;
		margin-left: 0;
	}

	.view .col-12{
		padding: 0;
	}

	.view iframe{
		height: 400px;
	}

	.view .btn{
		padding: 2%;
	}

	.contact{
		margin-bottom: 5%;
	}

	#show-message div:first-child{
		padding: 5%;
	}

}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	.view{
		padding-top: 10%;
	}

	.view iframe{
		height: 300px;
	}

	.view .btn{
		margin-bottom: 8%;
	}
}

/*/////////////////////////////// Grande Tablette //////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	.view iframe{
		height: 300px;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// PROPOSER /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#proposer .row{
	margin-right: 0;
	margin-left: 0;
}

#proposer h2{
	margin-bottom: 4%;
	color: #EF8A1B;
	font-weight: 700;
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	#loginBis{
		margin-top: 5%;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// CONTACT //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#contact{
	margin-bottom: 6%;
}

#contact h1{
	margin-bottom: 2%;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){	
	#contact .row{
	 	margin-left: 0;
	 	margin-right: 0;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// LOGIN ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#login h1{
	margin-bottom: 4%;
}

#forgot-password{
	margin-top: 2%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// RESET ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#reset h1{
	margin-bottom: 4%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// MES ANNONCES /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#my-adverts{
	padding: 2% 2% 0 2%;
}

#my-adverts .row{
	margin-right: 0;
	margin-left: 0;
}

#my-adverts ul{
	padding-left: 2%;
}

.my-advert{
	height: 330px;
	padding: 1% 1% 1% 1%;
	margin-bottom: 4% !important;
	margin-right: 1%;
	list-style: none;
	border: 1px solid #EF8A1B;
}

.my-advert a{
	color: black;
	text-decoration: none;
}

.no-published{
	color: #fb0101;
}

.published{
	color: #006400;
}

.my-city{
	color: #ea4b02;
	font-weight: 700;
	font-size:0.9em;
}

.my-title{
	font-size: 1.5em;
}

.my-type{
	margin-bottom: 15%;
}

.my-advert-null{
	list-style: none;
}

.btn-my-advert{
	position: absolute;
	bottom: 10px;
	right: 1%;
	margin-bottom: 0;
}

.btn-delete{
	color: white !important;
}

.btn-delete:hover{
	color: #ea4b02 !important;
}

.btn-create{
	margin-bottom: 5%;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){	
	#my-adverts{
		padding-top: 20%;
	}
	.my-advert{
		height: 450px;
	}
	.my-advert .cover-text{
		font-size: 0.8em;
		line-height: 1em;
	}
	.my-advert .cover-text p{		
		margin-bottom: 5%;
	}
	.my-title{
		font-size: 1.5em;
	}
}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	#my-adverts{
		padding-top: 10%;
		margin-bottom: 5%;
	}
	.my-advert{
		height: 200px;
	}
	.my-advert .cover{
		padding-right: 5px;
		padding-left: 5px;
	}
	.my-advert .cover-text{
		font-size: 0.6em;
		padding-right: 0;
		padding-left: 0;
		line-height: 1em;
	}
	.my-advert .cover-text p{
		padding-left: 0;
		margin-bottom: 5%;
	}
	.my-title{
		font-size: 1.2em;
		padding-left: 0;
	}
	.my-advert .price{
		position: unset;
	}
	.btn-my-advert{
		padding-right: 2%;
	}
}

/*/////////////////////////////// Grande Tablette //////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	.my-advert{
		height: 400px;
	}
	.my-city{
		font-size: 0.8em;
	}
	.my-title{
		font-size: 1.4em;
	}
	.my-type{
		margin-bottom: 25%;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////// AJOUT ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#add h1{
	margin-bottom: 2%;
}

#add form{
	margin-bottom: 5%;
}

#add #submit{
	margin-top: 2%;
}
.load{
	display: none;
	color: #ea4b02;
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// SUPPRESSION /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.fa-exclamation-circle{
	color: red;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	#btn-return-delete{
		margin-top: 5%;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////// MES INFOS ///////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#infos-danger{
	color: red;
}

.infos a{
	position: absolute;
	bottom: 0;
	left: 5%;
}

.infos input{
	position: absolute;
	bottom: 0;
	left: 6%;
}

#infos-retour{
	margin-top: 10%;
}

/*/////////////////////////////// Mobile et tablette //////////////////////////////////*/

@media (max-width: 991.98px){
	.infos{
		margin-top: 5%;
	}

	.infos a{
		position: unset;
	}

	.infos input{
		position: unset;
	}

	#infos-user h2{
		font-size: 1.7em;
	}

}

/*/////////////////////////////// Tablette //////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991.98px) {
	.infos a{
		margin-left: 2%;
	}

	.infos input{
		margin-left: 2%;
	}
}

/*/////////////////////////////// Grande Tablette //////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	#infos-danger{
		font-size: 0.7em;
	}

	#infos-user h2{
		font-size: 1.7em;
	}

	.infos a{
		margin-left: 2%;
	}

	.infos input{
		margin-left: 2%;
	}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// EDIT MES INFOS ////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	#btn-retour-edit-info{
		margin-top: 5%;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// ERROR //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#error-mango{
	background-image: url('../img/error404.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
}

#error{
	background-image: url('../img/error.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
}

.error span{
	color: #ea4b02;
}

/*/////////////////////////////// Mobile //////////////////////////////////*/

@media (max-width: 767.98px){
	#error-mango{
		height: 420px;
	}

	#error{
		height: 420px;
	}
}