@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

html{
	height: 100%;
}

body{
	font-family: 'Yantramanav', sans-serif;
	overflow-x: hidden;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

section{
	margin-bottom: 2%;
}

.contenu{
	padding: 2% 2% 0 2%;
}

h1{
	color: #ea4b02;
	font-weight: 900;
	font-size: 4em;
}

.btn{
	background-color: #ea4b02;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
}

.btn:hover{
	background-color: unset;
	color: #ea4b02;
}

.custom-control-label{
	margin-bottom: 4%;
}

.form-control:focus {
	border-color: #EF8A1B;
  	box-shadow: 0 0 0 0.2rem rgba(239, 138, 27, 0.25);
}

.custom-control-input:focus ~ .custom-control-label::before{
	box-shadow: 0 0 0 0.2rem rgba(239, 138, 27, 0.25);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
	background-color: #EF8A1B; 
}

.custom-control-input:checked~.custom-control-label::before{
	background-color: #EF8A1B;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// HEADER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

header{
	margin-bottom: 5%;
	font-size: 1.1em;
}

#navbarNav{
	justify-content: space-between;
}

.navbar-light{
	background-color: white;
}

.navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0,0.7);
}

.navbar-brand img {
	width: 80px;
}

.nav-link{
	color: black;
}
#header .active{
	color: #EF8A1B;
	font-weight: 700;
}
#header .nav-link:hover{
	color: #EF8A1B;
}
#nav-right{
	margin-right: 2%;
}

.navbar-text{
	margin-right: 10px;
}

.dropdown-toggle{
	color: #EF8A1B !important;
}

.der{
	border-left: 2px solid #EF8A1B;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// FOOTER ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/

#footer .nav{
	height: 60px;
	position: absolute;
	bottom: 0px;
	min-width: 100%;
	margin-top: 4%;
	padding-left: 20px;
	background-color: #EF8A1B;
}

#footer .nav-link{
	padding-top: 20px;
	padding-bottom: 0;
}

#footer .nav-link:hover{
	color: white;
}

#footer .navbar-text{
	padding: 20px 0 0 20px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// INDEX /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#key{
	background-image: url('../img/key.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
	height: 600px;
	padding: 50px;
}

#contenu-index .row{
	height: 600px;
	padding-left: 50px;
	padding-right: 100px;
}

#text-index{
	padding: 4% 5% 0 5%;
	background-color: #EF8A1B;
	height: 400px;
}

#text-index .nav a{
	color: white;
	line-height: 1.2em;
	font-size: 4em;
	font-weight: 900;
	position: relative;
	display: inline-block;
}

#text-index .nav a:hover{
	text-decoration: none;
}

.hover-effect a::before{
	position: absolute;
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	color: #ea4b02;
	text-shadow: 0px 0px 1px  #ea4b02;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.hover-effect a:hover::before{
	max-width: 100%;
}

.blockquote{
	color: #ea4b02;
	font-size: 1.6em;
	line-height: 0.8em;
}

.blockquote-footer{
	color: #ea4b02;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// RENT/BUY //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/
.index-advert{
	padding: 30px 30px 0px 30px;
}

.index-advert h1{
	margin-bottom: 2%;
}

.index-advert ul{
	padding-left: 0;
}

.index-advert .col-3{
	flex: 0 0 24% !important;
	margin-bottom: 1%;
}

.advert{
	padding: 1% 1% 0 1%;
	margin-right: 1%;
	list-style: none;
	border: 1px solid #EF8A1B;
}

.advert a{
	color: black;
	text-decoration: none;
}

.cover{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.city{
	color: #ea4b02;
	font-weight: 700;
}

.date{
	font-size: 0.9em;
}

.title{
	margin-bottom: 0;
}

.type{
	margin-bottom: 15%;
}

.price{
	position: absolute;
	bottom: 0px;
	right: 1%;
	margin-bottom: 0;
	color: #ea4b02;
	font-size: 2em;
	font-weight: 700;
}

/*///////////////////////Pagination//////////////////////////////*/

.page-link{
	border-color: #EF8A1B;
	color: black;
}

.page-link:hover{
	color: #FFF;
	background-color: #EF8A1B;
	border-color: #FFF;
}

.page-item:focus{
	border-color: none !important;
}

.active .page-link{
	color: #FFF;
	background-color: #EF8A1B !important;
	border-color: #EF8A1B !important;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// VIEW //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.view{
 	padding: 2% 2% 0 2%;
}

.view span{
	font-size: 1.1em;
	font-weight: 700;
	color: #EF8A1B;
}

.description{
	margin-left: 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// PROPOSER /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#proposer h2{
	margin-bottom: 4%;
	color: #EF8A1B;
	font-weight: 700;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// CONTACT //////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#contact label{
	font-weight: 700;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// LOGIN ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#login h1{
	margin-bottom: 4%;
}

#forgot-password{
	margin-top: 2%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// RESET ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#reset h1{
	margin-bottom: 4%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// MES ANNONCES /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

#my-adverts{
	padding: 2% 2% 0 2%;
}

#my-adverts ul{
	padding-left: 2%;
}

.my-advert{
	padding: 1% 1% 1% 1%;
		margin-bottom: 4% !important;
	margin-right: 1%;
	list-style: none;
	border: 1px solid #EF8A1B;
}

.my-advert a{
	color: black;
	text-decoration: none;
}

.my-city{
	color: #ea4b02;
	font-weight: 700;
	font-size:0.9em;
}

.my-title{
	font-size: 1.5em;
}

.btn-delete{
	color: white !important;
}

.btn-delete:hover{
	color: #ea4b02 !important;
}

#btn-create{
	margin-top: 5%;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////// AJOUT ///////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.load{
	display: none;
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////// SUPPRESSION /////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////*/

.fa-exclamation-circle{
	color: red;
}

