{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<section class="view">
		<h1>Changer mon mot de passe</h1>

		{% include "UserBundle:ChangePassword:change_password_content.html.twig" %}
		
	</section>
{% endblock fos_user_content %}
