{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'row' } }) }}
	<div class="col-12 col-md-6">
		<div class="form-group">
    		{{ form_widget(form) }}
    	</div>
    </div>
    <div class="col-12">
        <input type="submit" value="Modifier" class="btn col-12 col-md-2" />
        <a href="{{ path('mango_platform_user_info')}}" class="col-12 col-md-4 clo-lg-2 btn" id="btn-retour-edit-info">Retour à mes informations</a>
    </div>
{{ form_end(form) }}
